@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/roboto_regular.woff2") format("woff2"), url("../fonts/roboto/roboto_regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/roboto_light.woff2") format("woff2"), url("../fonts/roboto/roboto_light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/roboto_bold.woff2") format("woff2"), url("../fonts/roboto/roboto_bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MinionPro";
  src: url("../fonts/minionpro/minionpro_regular.woff2") format("woff2"), url("../fonts/minionpro/minionpro_regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@-webkit-keyframes moving-down-arrow {
  from {
    bottom: 5%;
  }
  50% {
    bottom: 3%;
  }
  to {
    bottom: 5%;
  }
}

@keyframes moving-down-arrow {
  from {
    bottom: 5%;
  }
  50% {
    bottom: 3%;
  }
  to {
    bottom: 5%;
  }
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font: 18px "Roboto", Arial, sans-serif;
  color: #222;
}

body {
  background-color: #f0f0f0;
}

h2 {
  font-size: 22px;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
}

.inner, .header-line .line-content, .header-cont, .promo-cont, .prop, .order, .stats, .last-info .info-blocks, .footer-inner {
  max-width: 1140px;
  margin: 0 auto;
}

.logo {
  display: block;
}

.logo img {
  display: block;
  max-height: 63px;
}

.dashed-around {
  padding: 2px;
  border: 2px dashed #28c6dd;
  border-radius: 50%;
}

.zoom {
  width: 20px;
  height: 20px;
  margin: 18px auto 0 auto;
  background-image: url("../img/zoom.svg");
  display: block;
}

.about {
  color: #ff635c;
  font-weight: normal;
}

.rg-logo::before {
  content: '';
  display: inline-block;
  height: 16px;
  width: 19px;
  position: relative;
  background-image: url("../img/logo_raccoon.svg");
  background-repeat: no-repeat;
  top: 3px;
}

.search-icon {
  display: block;
  height: 20px;
  width: 20px;
  background-image: url("../img/search_icon.svg");
}

.text-logo {
  font-weight: normal;
}

mark {
  background-color: transparent;
  color: #ffb643;
}

.hamb-menu {
  width: 35px;
  height: 35px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  -webkit-transition: -webkit-transform 330ms ease-out;
  transition: -webkit-transform 330ms ease-out;
  -o-transition: transform 330ms ease-out;
  transition: transform 330ms ease-out;
  transition: transform 330ms ease-out, -webkit-transform 330ms ease-out;
}

.hamb-menu.open {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.line-menu {
  background-color: #808080;
  border-radius: 5px;
  width: 100%;
  height: 6px;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  -webkit-transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  -o-transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
}

.open .line-menu.start {
  -webkit-transform: rotate(-90deg) translateX(3px);
  -ms-transform: rotate(-90deg) translateX(3px);
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  -o-transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
}

.open .line-menu.end {
  -webkit-transform: rotate(-90deg) translateX(-3px);
  -ms-transform: rotate(-90deg) translateX(-3px);
  transform: rotate(-90deg) translateX(-3px);
}

.page-header {
  width: 100%;
  position: absolute;
  background-color: white;
  left: 0;
  top: 0;
  -webkit-box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  z-index: 100;
  font-size: 12px;
  white-space: nowrap;
}

.header-line {
  width: 100%;
  background-color: #f5ae2c;
  font-weight: lighter;
  color: white;
}

.header-line .line-content {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-line .line-content a {
  line-height: 26px;
  display: block;
  margin-left: 20px;
}

.header-line .line-content a:first-child {
  margin-left: 0;
}

.header-line .line-content a:last-child {
  background-color: #444;
  font-weight: normal;
  text-transform: uppercase;
  padding: 0 6px 0 10px;
  margin-left: 47px;
}

.sticked-header {
  position: fixed;
  border-top: 2px solid #f5ae2c;
}

.sticked-header .header-line {
  display: none;
}

.header-cont {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-transform: uppercase;
}

.header-cont-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-cont-menu {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style-type: none;
}

.header-cont-menu li {
  margin-right: 37px;
}

.header-cont-menu li:last-child {
  margin: 0;
}

.he-active {
  position: relative;
}

::-webkit-input-placeholder {
  font-size: 12px;
  font-weight: lighter;
  color: #e6e6e6;
}

:-ms-input-placeholder {
  font-size: 12px;
  font-weight: lighter;
  color: #e6e6e6;
}

::-ms-input-placeholder {
  font-size: 12px;
  font-weight: lighter;
  color: #e6e6e6;
}

::placeholder {
  font-size: 12px;
  font-weight: lighter;
  color: #e6e6e6;
}

.promo {
  position: relative;
  margin-top: 106px;
  width: 100%;
  background: #f0f0f0 url("../img/banner.jpg") no-repeat center/cover;
  padding-bottom: 95px;
  padding-top: 61px;
}

.promo-down-arrow {
  height: 41px;
  width: 32px;
  display: block;
  background-image: url("../img/down_arrow.svg");
  cursor: pointer;
  position: absolute;
  left: 50%;
  -webkit-animation: moving-down-arrow 2.5s linear infinite;
  animation: moving-down-arrow 2.5s linear infinite;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.promo-cont {
  min-height: calc(100vh - 106px - 95px - 61px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.promo-cont-inner {
  height: 100%;
  max-width: 944px;
  margin: 0 auto;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.search-course {
  width: 100%;
  min-height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
}

.search-course button[type="submit"] {
  height: 38px;
  width: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  margin-left: 5px;
}

.search-course button[type="submit"]::before {
  content: '';
  height: 20px;
  width: 20px;
  position: absolute;
  background-image: url("../img/search_icon.svg");
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.search-field {
  width: calc(100% - 45px);
  padding-bottom: 2px;
}

.search-field input[type="text"] {
  border: none;
  outline: none;
  background-color: transparent;
  height: 36px;
  width: 100%;
  color: #e6e6e6;
  font-size: 16px;
  font-weight: lighter;
}

.promo-heading {
  text-align: center;
  font-size: 26px;
  text-align: center;
  font-weight: lighter;
  color: white;
  margin: 51px 0 0 0;
}

.promo-descr {
  width: 100%;
  margin-top: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

.promo-descr-item {
  width: calc(100% / 12 * 4);
  padding: 0 15px;
}

.promo-descr-img {
  max-width: 61px;
  margin: 0 auto;
  padding-bottom: 21px;
}

.promo-descr-img a {
  display: block;
}

.promo-descr-img a img {
  display: block;
  width: 61px;
  height: 61px;
}

.promo-descr-text {
  text-align: center;
  margin: 29px 0 0 0;
}

.descr-su {
  border-bottom: 2px solid #00c4ef;
}

.descr-ha {
  border-bottom: 2px solid #f5ae2c;
}

.descr-ri {
  border-bottom: 2px solid #ff635c;
}

.prop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 36px;
  margin-bottom: 40px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.prop-elem {
  max-width: 267px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px;
}

.prop-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #00c3db;
  height: 119px;
  width: 119px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.prop-img img {
  width: 46px;
  height: 46px;
}

.prop-img:hover .zoom-area {
  bottom: -55%;
}

.prop-heading {
  font-weight: normal;
  text-transform: uppercase;
  margin: 47px 0 21px 0;
  font-size: 20px;
}

.prop-text {
  font-size: 16px;
  color: #868686;
  text-align: center;
  margin: 0 0 23px 0;
}

.prop-diff .prop-heading {
  text-align: center;
  text-transform: none;
}

.prop-diff .prop-button {
  background-color: #f5ae2c;
  color: white;
  /*&:hover {
                font-weight: bold;

            }*/
}

.prop-button {
  font-weight: lighter;
  font-size: 16px;
  text-transform: uppercase;
  border: 2px solid #f5ae2c;
  color: #f5ae2c;
  display: block;
  padding: 10px 32px;
  font-weight: lighter;
  background-color: transparent;
  border-radius: 4px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.prop-button:hover {
  background-color: #f5ae2c;
  color: white;
}

.zoom-area {
  width: inherit;
  height: inherit;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  bottom: -100%;
  -webkit-transition: bottom .4s ease;
  -o-transition: bottom .4s ease;
  transition: bottom .4s ease;
  border-radius: 50%;
}

.order {
  margin-bottom: 82px;
  overflow-x: hidden;
}

.order-heading {
  margin: 0 0 41px 0;
  text-transform: uppercase;
  text-align: center;
}

.order-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  counter-reset: stepsCounter;
  padding: 0;
  list-style-type: none;
  position: relative;
}

.order-steps a {
  color: #00c3db;
}

.order-steps a:hover {
  text-decoration: underline;
}

.order-steps::before {
  content: '';
  position: absolute;
  height: 10px;
  background-color: #f5ae2c;
  display: block;
  top: 20px;
  z-index: -1;
  width: 72%;
  left: 14%;
}

.order-steps li {
  width: 25%;
  padding: 0 15px;
  font-weight: lighter;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.order-steps li::before {
  margin: 0 auto;
  counter-increment: stepsCounter;
  content: counter(stepsCounter);
  font-size: 22px;
  color: #f5ae2c;
  margin-bottom: 20px;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border: 5px solid #f5ae2c;
  background-color: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  font-weight: bold;
}

.stats {
  margin-bottom: 79px;
  width: 100%;
  background-color: #ff635c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-transform: uppercase;
  color: white;
  text-align: center;
  padding: 30px 0 24px 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.stats-elem {
  width: calc(100% / 12 * 3);
  border-left: 1px solid white;
  padding: 0 10px 13px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.stats-elem:first-child {
  border: none;
}

.stats-heading {
  margin: 0 0 32px;
  font-size: 18px;
}

.stats-val {
  margin: 0;
  font-size: 46px;
}

.last-info {
  width: 100%;
  margin-bottom: 79px;
}

.last-info .info-blocks {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.last-info .info-block {
  -ms-flex-preferred-size: 363px;
  flex-basis: 363px;
  background-color: white;
  height: 327px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.info-heading {
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 23px 0;
}

/* Hover button on image
.moreinfo-btn {
    @include gen-bt-styles(white, 10px 22px 10px 17px, #1c1c1c);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    visibility: hidden;

    &:hover {
        background-color: #1c1c1c;
    }
}
*/
.info-block-image {
  height: 200px;
  position: relative;
  width: 100%;
  display: block;
  /*
    &:hover .moreinfo-btn {
        visibility: visible;
    }
    */
}

.info-block-image img {
  width: 100%;
  height: 100%;
}

.info-block-heading {
  width: 100%;
  margin: 33px 0 0 0;
  padding-left: 31px;
  font-weight: normal;
}

.left-line .info-block-heading {
  border-left: 3px solid #ff635c;
  padding-left: 28px;
}

.info-read-more {
  text-transform: uppercase;
  border: 2px solid #1c1c1c;
  color: #1c1c1c;
  display: block;
  padding: 10px 22px 10px 17px;
  font-weight: lighter;
  background-color: transparent;
  border-radius: 4px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  max-width: 188px;
  margin: 0 auto;
}

.info-read-more:hover {
  color: white;
  background-color: #1c1c1c;
}

.shr-icons .shr-su, .shr-icons .shr-ha, .shr-icons .shr-ri {
  width: 44px;
  height: 44px;
  display: inline-block;
  border: 2px solid white;
  border-radius: 50%;
  margin-right: 2px;
}

.shr-icons {
  max-height: 44px;
  position: absolute;
  bottom: -20px;
  left: 26px;
  z-index: 10;
}

.shr-icons .shr-su {
  background-image: url("../img/su.svg");
}

.shr-icons .shr-ha {
  background-image: url("../img/ha.svg");
}

.shr-icons .shr-ri {
  background-image: url("../img/ri.svg");
}

.addt-info {
  min-width: 180px;
  position: absolute;
  left: 32px;
  bottom: 20px;
}

.calendar-icon, .comments-icon {
  display: inline-block;
  font-size: 12px;
  font-weight: lighter;
  padding-left: 19px;
  min-height: 14px;
  font-size: 12px;
  margin-right: 55px;
  color: #959595;
}

.calendar-icon {
  background: url("../img/calendar_with_lines.svg") no-repeat 0 -1px;
}

.comments-icon {
  background: url("../img/comments.svg") no-repeat 0 -1px;
  cursor: pointer;
}

.comments-icon:hover {
  text-decoration: underline;
}

.page-footer {
  min-height: 228px;
  width: 100%;
  background-color: #565656;
  margin-top: 111px;
  padding-top: 40px;
  padding-bottom: 36px;
  font-size: 12px;
}

.footer-inner {
  display: grid;
  color: white;
  grid-row-gap: 38px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 100px 1fr;
  grid-template-areas: "fm fm fm" "fl fs fa" ".  fc  .";
}

.footer-inner .fm-inner {
  max-width: 892px;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  list-style-type: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-weight: lighter;
}

.footer-menu {
  grid-area: fm;
  padding: 0;
  margin: 0;
}

.footer-logo {
  grid-area: fl;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.footer-logo .logo > img {
  height: 63px;
}

.footer-sn {
  grid-area: fs;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-sn-elem {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #00c3db;
  margin: 0 10px;
}

.footer-sn-elem img {
  height: 22px;
}

.footer-author {
  grid-area: fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.footer-copy {
  grid-area: fc;
  text-align: center;
}

@media (min-width: 768px) {
  .he-active::before {
    content: '';
    height: 2px;
    width: 100%;
    background-color: #ff3c3d;
    position: absolute;
    bottom: -7px;
  }
  .header-cont-menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (max-width: 767px) {
  .he-active {
    color: #ff3c3d;
    font-weight: bold;
  }
  .footer-inner {
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    grid-template-rows: repeat(2, 1fr) 1.2fr repeat(2, 22px);
    grid-template-areas: "fm" "fs" "fl" "fc" "fa";
  }
  .footer-inner .footer-menu {
    line-height: 25px;
  }
  .footer-inner .footer-logo,
  .footer-inner .footer-author,
  .footer-inner .footer-copy {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .footer-inner .footer-logo {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer-inner .footer-sn {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-top: 9px;
  }
  .header-cont-logo {
    width: 100%;
  }
  .header-cont-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: none;
    font-size: 14px;
  }
  .header-cont-menu li {
    padding: 10px 0 10px 8px;
    border-top: 2px solid #e6e6e6;
    width: 100%;
    margin-right: 0;
  }
  .hamb-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .order-steps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .order-steps::before {
    display: none;
  }
  .order-steps li {
    width: 100%;
    margin-bottom: 40px;
  }
  .order-steps li:last-child {
    margin-bottom: 0;
  }
  .order-steps li::before {
    margin-bottom: 10px;
  }
  .stats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .stats-elem {
    border: none;
    padding: 0;
    width: 100%;
  }
  .stats-elem:first-child .stats-heading {
    margin-top: 0;
  }
  .stats-heading {
    margin: 45px 0;
  }
}

@media (max-width: 579px) {
  .promo-descr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .promo-descr-item {
    width: 100%;
    margin-top: 30px;
  }
  .promo-heading {
    font-size: 20px;
  }
}

@media (max-width: 1139px) {
  .inner, .header-line .line-content, .header-cont, .promo-cont, .prop, .order, .stats, .last-info .info-blocks, .footer-inner {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 1110px) {
  .last-info .info-blocks {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
