// Styles for footer in main page
.page-footer {
    min-height: 228px;
    width: 100%;
    background-color: $footer-bg-color;
    margin-top: 111px;
    padding-top: 40px;
    padding-bottom: 36px;
    font-size: 12px;
}

.footer-inner {
    @extend .inner;
    display: grid;
    color: white;
    grid-row-gap: 40px;
    //justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 100px 1fr; // Change
    grid-template-areas: "fm fm fm"
                         "fl fs fa"
                         ".  fc  .";

    & .fm-inner {
        max-width: 892px;
        white-space: nowrap;
        overflow: hidden;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        list-style-type: none;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        text-transform: uppercase;
        font-weight: lighter;
    }

}

.footer-menu {
    grid-area: fm;
    padding: 0;
    margin: 0;
    //justify-content: space-between;
}

.footer-logo {
    grid-area: fl;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    & .logo > img {
        height: 63px;
    }
}

.footer-sn {
    grid-area: fs;
    display: flex;
    justify-content: center;

    &-elem {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $social-media-buttons-bg;
        margin: 0 10px;

        & img {
            height: 22px;
        }
    }
}

.footer-author {
    grid-area: fa;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer-copy {
    grid-area: fc;
    text-align: center;
}
