// Header block styles
.page-header {
    width: 100%;
    position: absolute;
    background-color: white;
    left: 0;
    top: 0;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    z-index: 100;
    font-size: 12px;
    white-space: nowrap;
}

// Header line styles
.header-line {
    width: 100%;
    background-color: $accent-color;
    font-weight: lighter;
    color: white;

    & .line-content {
        @extend .inner;
        padding: 0;
        display: flex;
        overflow: hidden;
        justify-content: flex-end;
        align-items: center;
        
        & a {
            line-height: 26px;
            display: block;
            margin-left: 20px;
        }

        & a:first-child {
            margin-left: 0;
        }

        & a:last-child {
            background-color: #444;
            font-weight: normal;
            text-transform: uppercase;
            padding: 0 6px 0 10px;
            margin-left: 47px;
        }
    }
}

.sticked-header {
    position: fixed;
    border-top: 2px solid $accent-color;

    & .header-line {
        display: none;
    }
}

// Header content styles
.header-cont {
    @extend .inner;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    // flex-direction: column on mobile phones
    text-transform: uppercase;

    &-logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-menu {
        padding: 0;
        display: flex;
        align-items: center;
        list-style-type: none;

        & li {
            margin-right: 37px;

            &:last-child {
                margin: 0;
            }
        }
    }
}

.he-active {
    position: relative;
}
