// Header block styles
.page-header {
    width: 100%;
    position: fixed;
    background-color: white;
    left: 0;
    top: 0;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    z-index: 100;
    font-size: 12px;
    white-space: nowrap;
}

// Header line styles

.header-line {
    width: 100%;
    background-color: $accent-color;
    font-weight: lighter;
    color: white;

    & .line-content {
        @extend .inner;
        padding: 0;
        display: flex;
        overflow: hidden;
        justify-content: flex-end;
        align-items: center;
        
        & a {
            line-height: 26px;
            display: block;
            margin-left: 20px;
        }

        & a:first-child {
            margin-left: 0;
        }

        & a:last-child {
            background-color: #444;
            font-weight: normal;
            text-transform: uppercase;
            padding: 0 6px 0 10px;
            margin-left: 47px;
        }
    }
}

// Header content styles
.header-cont {
    @extend .inner;
    min-height: 80px;
    display: flex;
    flex-direction: row; // column on mobile phones

    &-logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%; // On mb devices
    }
}

.hamburger-menu {
    cursor: pointer;
    display: block;
    height: 24px;
    width: 24px;
    background-color: yellow;
}


.header-logo {
    
}
